recursive-include coloraide_extras *.py py.typed
recursive-include tests *.py
recursive-include tools *.py
recursive-include requirements *.txt
recursive-include images *.png
recursive-exclude site *
include setup.py
include setup.cfg
include tox.ini
include LICENSE.md
include README.md
include CHANGES.md
include MANIFEST.in
include pyproject.toml
