recursive-include coloraide_extras *.py
recursive-include tests *.py *.json
recursive-include tools *.py *.sh
recursive-include requirements *.txt
recursive-exclude site *
include setup.py
include setup.cfg
include tox.ini
include LICENSE.md
include README.md
include MANIFEST.in
include pyproject.toml
